<div class="reservation-box">
  <div class="col-md-12">
    <div class="form-group">
      <div class="col-md-6">
        <div class="input-group" dropdown dropdown-append-to-body [autoClose]="'outsideClick'">
          <input type="text" class="form-control" name="inputBeginDate" [value]="begindate" />
          <span class="input-group-addon" dropdownToggle><i class="fa fa-calendar"></i></span>
          <div class="dropdown-menu" role="menu" aria-labelledby="btn-append-to-body">
            <datepicker name="test" [showWeeks]="false" [(ngModel)]="begindate" (click)="(blockSearchBtn())"></datepicker>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="input-group" dropdown dropdown-append-to-body [autoClose]="'outsideClick'">
          <input type="text" class="form-control" name="inputBeginDate" [value]="enddate" />
          <span class="input-group-addon" dropdownToggle><i class="fa fa-calendar"></i></span>
          <div class="dropdown-menu" role="menu" aria-labelledby="btn-append-to-body">
            <datepicker name="test" [showWeeks]="false" [(ngModel)]="enddate" (click)="(blockSearchBtn())"></datepicker>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12 search">
      <div class="col-md-6" *ngIf="guests_array.length > 1">
        <select class="form-control col-md-12" placeholder="Hospedes" type="number" [(ngModel)]="guests" (change)="filter('guests', $event.target.value)">
          <option *ngFor="let guest of guests_array" [value]="guest.num">{{guest.name}}</option>
        </select>
      </div>
      <div class="col-md-6">
        <button (click)="is_available()" class="btn btn-success col-md-12">BUSCAR</button>
      </div>
    </div>
    <div class="col-md-12 results">
      <div class="row">
        <div class="col-md-6">
          {{ price | currency:"BRL":true }} x {{ intervalOfDays() }} diárias
        </div>
        <div class="col-md-6 text-right">
          {{ price * intervalOfDays() | currency:"BRL":true }}
        </div>
      </div>
      <hr/>
      <div class="row">
        <div class="col-md-6">
          Taxa de serviço
        </div>
        <div class="col-md-6 text-right">
          {{ (price * intervalOfDays()) * 0.1 | currency:"BRL":true }}
        </div>
      </div>
      <hr/>
      <div class="row">
        <div class="col-md-6">
          <b>Total</b>
        </div>
        <div class="col-md-6 text-right">
          <b>{{ (price * intervalOfDays()) * 1.1 | currency:"BRL":true }}</b>
        </div>
      </div>
    </div>
    <div class="col-md-12 reserve">
      <a [ngClass]="{disabled : !search_btn}" (click)="search_btn && goToReservation()" class="btn btn-success-custom col-md-12">RESERVAR</a>
    </div>
  </div>
</div>
